alias dotfiles='/usr/bin/git --git-dir=$HOME/.dotfiles/ --work-tree=$HOME'   # Enable specific Git for `.dotfile` directory

alias ls='ls ---color'                        # colorize `ls` output
alias grep='grep --color=auto'                # colorize `grep` output
alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias less='less -R'
alias g='git'

alias rm='rm -i'                              # confirm removal
alias cp='cp -i'                              # confirm copy
alias mv='mv -i'                              # confirm move

alias nf='neofetch'                           # Neofetch shortcut

alias tempo='curl wttr.in/sao-paulo'          # forecast for Sao Paulo

alias zshreload='source ~/.zshrc'             # reload ZSH
alias shtop='sudo htop'                       # run `htop` with root rights
